
services:

  postgres:
    image: postgres:16
    container_name: reminder-postgres
    environment:
      POSTGRES_DB: reminder
      POSTGRES_USER: reminder_user
      POSTGRES_PASSWORD: reminder_pass
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data


  app:
    build: .
    image: reminder-app:latest
    depends_on:
      - postgres
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: docker


volumes:
  postgres_data:


